.page(data-page='index')
    .navbar
        .navbar-inner
            .center Welkom
    .page-content
        .content-block.text-center
            p Welkom in de Forus winkeliers app. Gebruik deze app om Kindpakket voucher QR-codes te scannen.
            br
            .buttons-row: a(href="./pages/scan-qr-code.html").button.button-big.button-fill.button-raised.color-deeppink Scan de QR-code