.page(data-page="info")
    .navbar
        .navbar-inner
            .left
                a(href="./index.html").back.link.icon-only
                    i.icon.icon-back
            .center Hoe dit systeem werkt
            .right
    .page-content
        .content-block
            p Door een Kindpakket voucher QR-code te scannen krijgt u de huidige waarde van de voucher te zien. U kunt vervolgens het te betalen bedrag van de voucher afschrijven door deze in te voeren. Het af te schrijven bedrag kan nooit meer zijn dan de totale waarde van de voucher. Wanneer u op de bevestig knop drukt zal het ingevulde bedrag worden afgeschreven van de voucher. Het ingevulde bedrag zal direct automatisch worden overgeschreven naar uw bankrekening.